html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  
}


        h1 {color:#1c534d;
        font-size:3.8em;
        text-shadow:2px 2px #f00;
      }

       h2 {color:#0d3f37;
        font-size:2.5em;
       
      }
       table{font-size:x-large;}
        
        thead{color:rgb(219, 28, 89);}
        
        td{color:rgb(21, 117, 104);}

        .subtitle {
          text-decoration: none;
           font-size: 1.4rem;
           color:rgb(2, 14, 12);           
        }
        
        p {background:rgb(192, 128, 189);
        font-size: 1.6rem;}

        .steps {width:90%;}

        #cookies{
        position: relative;
        top:-150px;
        left: 300px;
        z-index:10;
        float:left;}

        #cookies2{
        position: relative;
        top:-180px;
        left:300px;
        z-index:10;
        float:left;}   
#box2 {
  position:relative;
  left: -28%;
}
       
            #container{width: 35vw;
                    margin:auto;
                  border: 3px solid rgb(125, 147, 190)  ;
                  border-top:  15px groove rgb(125, 147, 190);
                  padding:25px;}

@media only screen and (max-width: 800px){
  #container{
    width: 70vw;
  }
}