html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  
}


        h1 {color:#206a5d;
        font-size:3em;
        text-shadow:2px 2px #f00;}
       table{font-size:x-large;}
        
        thead{color:rgb(219, 28, 89);}
        
        td{color:rgb(21, 117, 104);}

        .subtitle {
          text-decoration: none;
           font-size: 1.4rem;
           color:rgb(21, 117, 104);
           
        }
        
        p {background:rgb(192, 128, 189);
        font-size: 1.5rem;}

        .steps {width:90%;}

        #cookies{
        position: relative;
        top:-170px;
        left:250px;
        z-index:10;
        float:left;}

        #cookies2{
        position: relative;
        top:-220px;
        left:250px;
        z-index:10;
        float:left;}   

       
            #container{width: 35vw;
                    margin:auto;
                  border: 3px solid rgb(125, 147, 190)  ;
                  border-top:  15px groove rgb(125, 147, 190);
                  padding:25px;}